{% extends 'jobs/mainpart.html' %}

{% block content %}
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <h1>{{ job.summary }}</h1>
          <p class="lead text-muted">{{job.description}}</p>
          <img class="card-img-top" src="{{job.image.url}}" height=300>
          <p>
            {% if job.isexrernalurl %}
                <a href='{{job.externalurl}}' class="btn btn-primary my-2">Look It</a>
            {% else %}
                <a href='{{job.shortname}}' class="btn btn-primary my-2">Look It</a>
            {% endif %}
            <a href="{% url 'Home' %}" class="btn btn-primary my-2">Back</a>
          </p>
        </div>
      </section>
    </main>
{% endblock  %}