{% extends 'jobs/mainpart.html' %}

{%block content%} 
    <main role="main">
      <section class="jumbotron text-center">
        <div class="container">
          <div class="row">
              <div class="col-md-4">
                    <h1>{{dev.name}}</h1>
                    <img src="{{dev.image.url}}" height=300> <img/>
                    <p><b>Data:</b> {{dev.borndate}}</p> 
                    <p><b>Company:</b> {{dev.company}}</p> 
                    <p><b>Postion:</b> {{dev.postion}}</p> 
                  <a href="mailto:{{dev.email}}" class="btn btn-primary my-2">Send email</a>
                  <a href="{% url 'Home' %}" class="btn btn-primary my-2">Back</a>
                </p>     
              </div>           
          </div>           
          </p>      
        </div>
      </section>
    </main>
{%endblock%}
