{% extends 'evo/mainpart.html' %}

{% block content %} 

<body>   
    <br> 
    <br>
   <main role="main" class="col-md-4 ml-sm-auto col-lg-11"> 
      <canvas class="my-4 w-100" id="myChart" width="900" height="0"></canvas>
      
        <form action="{% url 'addphases' %}" method="post">
          <h3>Finish date</h3>          
          {% csrf_token %}  
          {{ form.finishDate }}
          <small id="passwordHelpInline" class="text-muted">Format yyyy-mm-dd</small>        
          <br>         
          <input type="submit" class="btn btn-success" value="Submit">
      </form>
    </main>  
    <br> 
    <br>     
  </div>
</body>
{% endblock  %} 