{% extends 'evo/mainpart.html' %}

{% block content %} 
    <body>
        <main role="main">
          <!-- Main jumbotron for a primary marketing message or call to action -->
          <div class="jumbotron">
            <div class="container">
              <h1 class="display-3">Evolution!</h1>
              <p>
                The goal of the game of evolution is to reach the next evolutionary stage in your career, by jointly studying, discussing the set of knowledge and skills needed for the next level. The learning process involves mastering the topic, because you deal with any topic 3 times, the first time you learn to read, you look for information, there should be attempts to go as deep as possible within the framework of your studies, the second is when you talk or listen on this topic and then There are moments of study when questions come up and discussions are underway on this topic. The goal of the game is the evolutionary development of your professional skills and knowledge in a competitive game form.</p>
              <p><a class="btn btn-primary btn-lg" href="https://kb.epam.com/display/~Sergey_Davydov2/1.+Description" role="button">Learn more &raquo;</a></p>
            </div>
          </div>

        <div class="container">

            <div class="row">
            {% for player in players.all %}   
            <div class="col-md-6">
                  <h1>{{player.name}}</h1>
                  <img src="{{player.image.url}}" height=300> <img/>
                  <p><p>   
              </p>     
            </div>  
            {% endfor%}  
            </div>   

            <!-- Example row of columns -->
              <div class="row">
                <div class="col-md-6">  
                  <h2>Current Phase</h2>
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>     
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">    
                      <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">   {{phase}}</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        {% for theme in themes.all %} 
                        <a class="dropdown-item">{{theme.theme}}</a>
                        {% endfor%}  
                      </div>
                    </li>    
                  </ul>
                </div>    
              </nav>
            </div>   
        </div>

          <div class = "progress">
            <div class = "progress-bar" role = "progressbar" aria-valuenow = "60" 
              aria-valuemin = "0" aria-valuemax = "100" style = "width: {{num}}%;">    
              {{num}}%
          </div>   
          <hr>
            
        </main> 
    </body>
{% endblock  %}

