{% extends 'evo/mainpart.html' %}

{% block content %} 
    <body>   
      <main role="main" class="col-md-4 ml-sm-auto col-lg-11">
        <canvas class="my-4 w-100" id="myChart" width="900" height="0"></canvas>  
        {%for themes in allTheme%}
        <h2>{{themes.name}}</h2>
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
              <tr>              
                <th>Name</th>   
                <th>Status</th>          
              </tr>
            </thead>
            <tbody>
              {%for th in themes.themes%}
              <tr>
                <td>{{th}}</td> 
                {% if th.done %}              
                <td>Done</td>    
                {% else %}   
                <td>In Progess</td> 
                {% endif %}                   
              </tr>
              {% endfor%}  
            </tbody>
          </table>
        </div>
        {% endfor%}  
      </main>
    </div>

  </body>

  {% endblock  %}
