MyPorfolio-project/evolution/__pycache__
MyPorfolio-project/jobs/__pycache__
MyPorfolio-project/MyPorfolio/__pycache__
MyPorfolio-project/mymenu/__pycache__/

MyPorfolio-project/simplebot/__pycache__/

MyPorfolio-project/mymenu/migrations/__pycache__/

MyPorfolio-project/jobs/migrations/__pycache__/
