{% extends 'bot/mainpart.html' %}

{% block content %} 
    <body class="text-center">
      <br><br><br><br><br><br><br><br><br>
      
    <center>
    <div class="col-2">
        <form class="form-signin" method="GET"  action="{% url 'dialog' %}">   
            {% csrf_token %}  
            <h1 class="h3 mb-3 font-weight-normal">Как тебя зовут?</h1>
            {{form}}          
            <br>  
            <br>
            
            <input type="submit" class="btn btn-success" value="Представиться">
        </form>
      </div>
    </center>
    </body>
{% endblock  %}

