{% extends 'menu/mainpart.html' %}

{% block content %}   
<br><br><br><br><br>   
<div class="container">

  <div class="row">
      <div class="col-md-4 offset-md-4">
      <div class="card text-center card  bg-default mb-3">
        <div class="card-header">
          Войти
        </div>
        <form method="post" action="{% url 'loginmenu' %}">
        {% csrf_token %}
        <div class="card-body">
          <input type="text" name="username" id="userName" class="form-control input-sm chat-input" placeholder="Логин" />
          <br>
          <input type="password" name="password" id="userPassword" class="form-control input-sm chat-input" placeholder="Пароль" />
        </div>
        <small> 
          <p class="text-danger">{{ error }}</p>         
        </small> 
        <div class="card-footer text-muted">
          <input name="Submit" type="submit" value="Войти" class="btn btn-primary">
        </div>      
      </form>
      </div>
  </div>
  </div>
</div>
  
{% endblock  %}

